@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}
.container {
    width: 80%;    
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section {
    display: flex;
    align-items: center;
}

.right-section ul {
    list-style: none;
    display: flex;
}

.light-gray {
    color: #939191;
}



.road-assistance {
    display: flex;
    padding-left: 20px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: #000;
}


.right-section .navigation {
    border-right: 2px solid #ccc;

}

.road-assistance .icon {
    margin-right: 10px;
}

.flex {
    display: flex;
}

#hero-section .text-section {
    width: 45%;
}

#hero-section .img-section {
    width: 55%;
}

#hero-section, #quote-section, #process-section { 
    padding: 50px 0;
}

#hero-section .img-section {
    background-image: url("img/header-img.png");
    background-size: cover;
    background-position: center;
    min-height: 65vh;    
}

.text-section h1 {
    font-size: 40px;

}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 25px;
    display: inline-block;
    color: white;
    border: none;
}

.time-section {
    display: flex;
    margin-top: 30px;
}
.time-section .img-box {
    width: 5%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-section .time-text {
    width: 95%;
}

#quote-section {
    background: #E2E6E9;;
}

#quote-section .left-section, #quote-section .right-section {
    width: 45%;
}

#quote-section ul {
    list-style: none;
}

#quote-section ul li{
    margin-bottom: 10px;
}



#quote-section .left-section h2 {
    margin-bottom: 30px;
    font-size: 40px;
}

#quote-section .left-section .img-box {
    width: 30%;
    margin-right: 10px;
}

.left-section .img-box img {
    width: 100%;
    padding: 30px;
}

#quote-section .left-section .text-box {
    width: 50%;
}

.left-section .text-box h5 {
    font-size: 24px;
    margin-bottom: 5px;
}

#quote-section .right-form-section h3 {
    font-size: 40px;
}

#quote-section .right-form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    
}


#process-section .left-section, #process-section .right-section {
    width: 45%;
    margin-right: 15px;
}

#process-section .left-section h2   {
    font-size: 52px;
    
}

#process-section .left-section p {
    font-size: 16px;
}



#process-section .right-section1 .img-box {                     
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* gap: 15px; */
}

.img-box .img-sec {
    margin-right: 15px ;
    text-align: center;
    width: 15%;
}

.img-box .img-sec .circle {
    width: 100%;
}

.img-box .text-sec {
    width: 70%;
}

#offer {
    background: #f2f2f2;
    padding: 65px 0;
}

.content-section {
    text-align: center;
}

.content-section p {
    font-size: 18px;
    font-weight: 600;
}

.content-section h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

.icon-sections {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin-right: 5px; */
    
}

.icon-sections .icon {
    width: 20%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 5px;
}

.icon-sections .orange {
    background-color: #FF6433;
}

.learn-service {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.learn-service a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.learn-service img {
    width: 4%;
}

#cta {
    height: 500px;
}

/* #cta .flex {
    position: relative;
} */

.flex .img {
    height: 500px;
    width: 20%;
    background: url("img/image1.png") no-repeat;
    background-size: cover;
    background-position: left;
}

.flex .text-overlay {
    height: 500px;
    width: 40%;
    background: #FF6433;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex .img-auto {
    width: 40%;
    height: 500px;
    background: url("img/wires.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.text-overlay div {
    color: white; 
    padding: 40px;   
}

.text-overlay div h2 {
    font-size: 40px;
    
}

#experience {
    background: #f2f2f2;
}


#experience .container1{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    align-items: center;
}

.container1 .number  h3{
    font-size: 58px;
    color: #661CE7;
}

.container2 {
    padding: 50px  0;
}

.container2 .text-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.container2 .brand-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* mobile view */
@media (max-width: 640px) {
    .main-header {
        flex-direction: column;
        align-items: flex-starts;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section .navigation ul {
        flex-direction: column;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding: 10px 0;
    }


    .flex-sm-column {
        flex-direction: column;
    }

    #hero-section .text-section, #hero-section .img-section  {
        width: 100%;
    }

    #hero-section .text-section {
        order: 2;
    } 
    .text-section h1 {
        font-size: 35px;
    }

    #hero-section .img-section {
        order: 1;
    }

    #quote-section .left-section, #quote-section .right-section {
        width: 100%;
    }

    #quote-section .left-section .text-box {
        width: 100%;
    }

    #quote-section .left-section .text-box h5 {
        font-size: 20px;
    }

    #quote-section .right-form-section h3 {
        font-size: 25px;
    }

    .flex .text-box p {
        font-size: 14px;
    }

    #quote-section .left-section h2 {
        font-size: 28px;
    }

    #process-section .left-section, #process-section .right-section {
        width: 100%;
    }

    #process-section .left-section h2 {
        width: 100%;
        font-size: 35px;
        margin-bottom: 20px;
    }

    #process-section .left-section p {
        margin-bottom: 20px;
    }
    .content-section h2 {
        font-size: 28px;
    }

    .icon-sections {
        flex-direction: column;
        width: 100%;
    }

    .icon-sections .icon {
        width: 100%;
        height: 150px;
    }

    .learn-service img {
        transform: rotate(90deg);
    }

    #cta {
        height: 200px;
    }

    .flex .img {
        height: 200px;
    }

    .flex .text-overlay {
        height: 200px;
    }

    .flex .img-auto {
        height: 200px;
    }

    .text-overlay div h2 {
        font-size: 12px;
    }

    #experience .container1 {
        flex-wrap: wrap;
    }

    .container1 .number h3 {
        font-size: 35px;
    }

    .icon-sections .icon img {
        width: 30%;
    }
    
}

@media (min-width: 641px) and (max-width: 969px) {
    #quote-section .left-section, #quote-section .right-section {
        width: 50%;
    }
    
    #quote-section .left-section h2 {
        font-size: 20px;
    }


    #quote-section .left-section .img-box {
        width: 48%;
        margin-left: -35px;
        margin-right: 10px;
    }

    .left-section .text-box h5 {
        font-size: 14px;
        margin-bottom: 2sspx;
    }

    .left-section .text-box p {
        font-size: 9px;
    }

    .left-section .text-box a {
        font-size: 10px;
    }

    #quote-section .right-form-section h3 {
        font-size: 20px;
    }

    .right-form-section .input-box {
        width: 80%;
    }

    .right-form-section .orange-btn {
        font-size: 14px;
    }

    #process-section .left-section h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #cta .img, #cta .text-overlay, #cta .img-auto {
        height: 60vh;
    }

    #cta {
        height: 280px;
    }

    #cta .text-overlay h2 {
        font-size: 20px;
    }

    #brands .brand-icon {
        width: 100%;
    }

    .brand-icon img {
        width: 18%;
    }

    .content-section h2 {
        font-size: 22px;
    }

    .text-section h1 {
        font-size: 25px;
    }

    .main-header .logo {
        width: 60%;
    }

    .main-header .logo img {
        width: 50%;
    }
}

/* Services */

#main .container {
    padding: 65px 0;
    margin: 0 auto;
    width: 100%;
}

#main .flex {
    width: 60%;
    margin: 0 auto;
}

#main .car-side {
    width: 40%;
    height: 60vh;
    background-image: url("img/service-car.png");
    background-size: cover;
    background-position: left;

}

#main .text-side {
    width: 60%;
    height: 60vh;
    background: black;
    color: white;
    padding: 50px;
}

#main .text-side h1 {
    margin-bottom: 20px;
}

#main .text-side p {
    margin-bottom: 30px;
    font-size: 14px;
}

#main .text-side button {
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #FF6433;
    color: white;
    border: none;
}

@media (min-width: 421px) and (max-width:640px) {
    #main .container {
        padding: 20px 0;
    }

    #main .text-side {
        padding: 15px;
        margin: 0 auto;
    }

    #main .text-side h1 {
        font-size: 20px;
    }

    #main .text-side p {
        font-size: 10px;
        margin-bottom: 8px;
    }

    #main .text-side button {
        padding: 5px 10px;
        font-size: 10px;
        border-radius: 6px;
    }
}

@media (min-width: 360px) and (max-width: 420px) {
    #main .container {
        padding: 10px 0;
    }

    #main .text-side {
        padding: 10px;
    }

    #main .text-side h1 {
        font-size: 12px;
        margin-bottom: 5px;
    }

    #main .text-side p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #main .text-side button {
        padding: 3px 8px;
        font-size: 10px;
    }

}

@media (min-width: 641px) and (max-width: 969px) {
    #main .text-side h1 {
        margin-bottom: 8px;
    }
    #main .text-side {
        padding: 15px;
    }
    #main .container {
        padding: 20px 0;
        margin: 0 auto;
        width: 100%;
    }

    #main .text-side p {
        margin-bottom: 15px;
        font-size: 14px;
    }
}

#auto-diagnostics {
    background-color: #f5f5f5;
    width: 100%;
}

#auto-diagnostics .container {
    padding: 60px;
    margin: 0 auto;
    width: 80%;
}

#auto-diagnostics .left-side, #auto-diagnostics .icon-side {
    width: 46%;
    height: 80vh;
    
}

#auto-diagnostics .left-side {
    background-color: #fff;
    margin-right: 2%;
    padding:20px;
}

.left-side .image {
    background-image: url("img/white-car.png");
    background-position: center;
    background-size: cover;
    height: 40vh;
    margin-bottom: 20px;
}

.left-side .auto h1 {
    margin-bottom: 8px;
    font-size: 20px;
}

.left-side .auto p {
    font-size: 14px;
}

.left-side .auto small {
    margin-top: 8px;
    display: inline-block;
}

.icon-side .double {
    display: flex;    

}

.icon-side .double .one, .icon-side .double .two {
    width:  150px;
    height: 150px;
    margin: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.icon-side .double .orange {
    background: #FF6433;
    color: white;
}

@media (min-width: 360px) and (max-width: 420px) {
    #auto-diagnostics .container{
        padding: 10px;
        width: 100%;
    }

    #auto-diagnostics .left-side, #auto-diagnostics .icon-side {
        width: 100%;
        height: 100vh;
        margin-bottom: 10px;
        padding: 12px;
    }
    .left-side .auto h1 {
        font-size: 18px;
    }

    .left-side .auto p {
        font-size: 14px;
    }

    .left-side .auto small {
        margin-bottom: 8px;
    }

    .icon-side .double {
        justify-content: center;
        align-items: center;
        
    }

    .icon-side .double .one, .icon-side .double .two {
        width: 100px;
        height: 100px;
    }

    .icon-side {
        padding-bottom: 15px;
    }
}

@media (min-width: 421px) and (max-width:640px) {
    #auto-diagnostics .container{
        padding: 20px;
        width: 100%;
    }

    #auto-diagnostics .left-side, #auto-diagnostics .icon-side {
        width: 100%;
        height: 100vh;
        padding: 15px;
    }

    .left-side .auto h1 {
        font-size: 18px;
    }

    .left-side .auto p {
        font-size: 14px;
    }

    .left-side .auto small {
        margin-bottom: 8px;
    }

    .icon-side .double {
        justify-content: center;
        align-items: center;
        
    }

    .icon-side {
        padding-bottom: 20px;
    }

    .icon-side .double .one, .icon-side .double .two {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 641px) and (max-width: 969px) {
    #auto-diagnostics .container {
        padding: 25px;
        margin: 0 auto;
        width: 80%;
    }

    #auto-diagnostics .left-side, #auto-diagnostics .icon-side {
        height: 100vh;
    }
    .left-side .image {
        height: 35vh;
        margin-bottom: 18px;
    }

    .icon-side .double .one, .icon-side .double .two {
        width: 130px;
        height: 130px;
    }

    .icon-side .double .one p, .icon-side .double .two p {
        font-size: 10px;
    }
}

#how-to .container {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

#how-to .top-left, #how-to .top-right {
    width: 45%;
    height: 50vh;
}

.text-and-icon .inset {
    display: flex;
}

.inset .icon {
    margin-right: 5px;
}

#how-to .top-left h1 {
    margin-bottom: 10px;
}

.icon img {
    width: 50%;
}

#how-to .top-left {
    margin-right: 15px;   
}

#how-to .top-right {
    display: flex;
}

.top-right .div1, .top-right .div2 {
    /* border: 1px solid black; */
    width: 40%;
    height: 40vh;
}

.top-right .div1 {
    margin-right: 5px;
    background: url("img/car1.png") no-repeat;
    background-position: center;
    background-size: cover;
}

.top-right .div2 {
    background: url("img/car2.png") no-repeat;
    background-position: center;
    background-size: cover;
}

#how-two .container {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 100px;
}

#how-two .bottom-left, #how-two .bottom-right {
    width: 45%;
    height: 50vh;
}

#how-two .bottom-left {
    display: flex;   
}

.bottom-left .div1, .bottom-left .div2 {
    /* border: 1px solid red; */
    width: 35%;
    height: 40vh;
}

.bottom-left .div1 {
    margin-right: 5px;
    background: url("img/tyre.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom-left .div2 {
    background: url("img/bonnet.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.bottom-right h1 {
    font-size: 25px;
    margin-bottom: 8px;
}

.bottom-right p {
    margin-bottom: 8px;
}

.bottom-right button {
    padding: 8px 15px;
    color:white;
    background-color: #FF6433;
    border: none;
    border-radius: 8px;
}

@media (min-width: 360px) and (max-width: 420px) {
    #how-to .container {
        padding: 10px;
    }
    #how-to .top-left {
        width: 100%;
        margin-bottom: 10px;
    }
    #how-to .top-right {
        width: 100%;
    }
    .top-right .div1, .top-right .div2 {
        width: 50%;
    }

    #how-two .container {
        padding: 10%;
    }
    #how-two .bottom-left, #how-two .bottom-right {
        width: 100%;
    }

    .bottom-left .div1, .bottom-left .div2 {
        width: 50%;
    }

    .bottom-right h1 {
        font-size: 16px;
    }

    .bottom-right p {
        font-size: 13px;
    }

}

@media (min-width: 421px) and (max-width:640px) {
    #how-to .container {
        padding: 10px;
    }
    #how-to .top-left {
        width: 100%;
        margin-bottom: 10px;
    }
    #how-to .top-right {
        width: 100%;
    }
    .top-right .div1, .top-right .div2 {
        width: 50%;
    }

    #how-two .container {
        padding: 10%;
    }
    #how-two .bottom-left, #how-two .bottom-right {
        width: 100%;
    }

    .bottom-left .div1, .bottom-left .div2 {
        width: 50%;
    }

    .bottom-left .div2 {
        padding: 0 12px;
    }
    .bottom-right h1 {
        font-size: 17px;
    }

    .bottom-right p {
        font-size: 15px;
    }

}

@media (min-width: 641px) and (max-width: 969px) {
    #how-to .container {
        padding: 10px 15px;
        
    }   

    #how-to .top-left h1{
        font-size: 20px;
    }

    .inset .text p {
        font-size: 14px;
    }

    .bottom-right h1 {
        font-size: 20px;
    }

    #how-two .bottom-left, #how-two .bottom-right {
        width: 50%;
        /* height: 80vh; */
    }

    .bottom-right p {
        font-size: 14px;
    }

    #how-two .container {
        padding: 10px;
        margin-bottom: 15px;
    }

    .top-right .div1, .top-right .div2 {
        height: 40vh;
    }
}

#footer .container {
    background-color: #1e1b1b;
    width: 100%;
    padding: 60px 40px;
}

#footer .flex {
    display: flex;
    justify-content: space-evenly;
}
#footer .touch {
    margin-right: 20px;
}

.touch h3 {
    color: white;
    margin-bottom: 30px;
}

.touch .icons img {
    display: inline-block;
    margin-right: 20px;
}

.text-section .number{
    color: white;
    margin-bottom: 20px;
}

.number .small {
    font-size: 8px;
}

#footer-bottom .container {
    background-color: #1e1b1b;
    padding: 15px;
    width: 100%;
}

#footer-bottom .flex {
    display: flex;
    justify-content: space-evenly;
}

.flex .logo img {
    width: 50%;
}
.flex .navigation1 ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navigation1 ul li {
    margin-right: 20px;
}

.navigation1 ul li a {
    text-decoration: none;
    color: white;
    font-size: 8px;
}

.copyright .small {
    font-size: 8px;
    color: white;
}

@media (min-width: 360px) and (max-width: 420px) {
    #footer .container {
        padding: 15px;
    }   
    .touch h3 {
        size: 16px;
    }

    #footer .text-section {
        margin-top: 15px;
    }

    .number p {
        font-size: 12px;
    }
    
    #footer-bottom .flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .flex .navigation1 ul {
        flex-direction: column;
    }
}

@media (min-width: 421px) and (max-width:640px) {
    #footer .text-section {
        margin-top: 20px;
    }
}

@media (min-width: 641px) and (max-width: 969px) {
    #footer .text-section {
        margin-top: 20px;
    }   
}